<table>
  <tr>
    <th>Votes</th>
    <th>Title</th>
    <th>Created by</th>
    <th>Published</th>
    <th>Upvote</th>
  </tr>

  <% works.each do |work| %>
  <tr>
    <td>
      Votes
    </td>

    <td>
      <%= link_to "#{work.title}", work_path(work.id) %>
    </td>

    <td>
      <%= work.creator %>
    </td>

    <td>
      <%= work.pub_year %>
    </td>

    <td> 
      <%= button_to "Upvote", "#"%>
    </td>
  </tr>
  <% end %>


</table>