<h2>List of Works</h2>

<h3>Albums</h3>

<section>
  <%= render partial: 'media_table', locals: { :works => @albums, :title_name => "Albums" } %>
</section>

<section>
  <%= render partial: 'media_table', locals: { :works => @books, :title_name => "Books" } %>
</section>

<section>
  <%= render partial: 'media_table', locals: { :works => @movies, :title_name => "Movies" } %>
</section>