<h2>List of Works</h2>

<h4>Albums</h4>

<section>
  <%= render partial: 'media_table', locals: { :works => @albums } %>
</section>

<h3>Books</h3>

<section>
  <%= render partial: 'media_table', locals: { :works => @books} %>
</section>

<h3>Movies</h3>

<section>
  <%= render partial: 'media_table', locals: { :works => @movies} %>
</section>