<main>
  <h2>Log In</h2>

  <%= form_with model: @user, url: login_path do |f| %>
    <%= f.label :username %>
  <p> <%= f.text_field :username %> </p>

    <%= f.submit "Login", class: "btn btn-primary" %>
<% end %>
</main>