// Place all the styles related to the homepage controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "bootstrap";
/* Import scss content */
// @import "**/*";

main {
  padding: 2rem;
}

.media_main_head {
  max-width: 100%;
  background-color: #B2DFDB;
  margin-bottom: 0.5rem;
  padding: 2rem 1rem 0.5rem 1rem;
}

.media_main_head a.logo {
  color: #FF5722;
  padding-right: 25px;
  margin-right: 15px;
  border-right: white 2px solid;
}

.media_main_head h1 small.tagline{
  color: white;
  padding-right: 25px;
  margin-right: 15px;
}

.nav-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  list-style: none;
}

.nav-item {
  margin-left: 2rem;
  margin-top: 1rem;
  color: #00796B;
}

.table td {
  vertical-align: middle;
}

.table {
  width: 100%;
  margin-bottom: 1rem;
  background-color: transparent;
}

.alert-container {
  margin: 2rem 0 1rem 0;
}

.alert{
  color: #856404;
  background-color: #fff3cd;
  border-color: #ffeeba;
}
a:hover {
  color: #00796B;
  text-decoration: none;
}

body, h1, h2, h3, h4, h5 {
  font-family: "Gudea", sans-serif;
}

h1, h2, h3, h4, h5 {
  font-weight: bold;
}

a, h2, h3 {
  color: #26A69A;
}

.btn:hover {
  background-color: #00796B;
}

.btn-primary {
  background-color: #26A69A;
  color: white;
  border-color: #26A69A;
}